perf
spec
.git
yarn.lock
coverage
typings/
.vscode/
src/
test/
examples/
symbols/
.travis.yml
appveyor.yml
jest-cld.json
jest-cld-asm.json
tsconfg.json
tslint.json
wallaby.js
commitlint.config.js
tsconfig.json
bootstrap.ts
*.tgz